{% extends "Web/index.html" %}
{% block content %}
<section class="page-title bg-1">
	<div class="overlay"></div>
	<div class="container">
	  <div class="row">
		<div class="col-md-12">
		  <div class="block text-center">
			<span class="text-white">About Us</span>
			<h1 class="text-capitalize mb-5 text-lg">About Us</h1>
  
			<!-- <ul class="list-inline breadcumb-nav">
			  <li class="list-inline-item"><a href="index.html" class="text-white">Home</a></li>
			  <li class="list-inline-item"><span class="text-white">/</span></li>
			  <li class="list-inline-item"><a href="#" class="text-white-50">About Us</a></li>
			</ul> -->
		  </div>
		</div>
	  </div>
	</div>
  </section>
  
  <section class="section about-page">
	  <div class="container">
		  <div class="row">
			  <div class="col-lg-4">
				  <h2 class="title-color">Personal care for your healthy living</h2>
			  </div>
			  <div class="col-lg-8">
				  <p>
					A Comprehensive Approach to Wellness
					In today's fast-paced world, prioritizing personal health is paramount. Our platform offers a holistic approach to well-being, tailored to your unique needs. From nutritional guidance to fitness plans, mental health support, and more, we're here to empower you on your journey to optimal health. Explore our resources and personalized solutions today, and embark on a path to a healthier, happier you.
				  </p>
				  {% comment %} <img src="{% static 'web/images/about/sign.png' %}" alt="" class="img-fluid"> {% endcomment %}
			  </div>
		  </div>
	  </div>
  </section>
  
  <section class="section team">
	  <div class="container">
		  <div class="row justify-content-center">
			  <div class="col-lg-6">
				  <div class="section-title text-center">
					  <h2 class="mb-4">Meet Our Specialist</h2>
					  <div class="divider mx-auto my-4"></div>
					  <p>Your well-being is our priority, and we're here to support you every step of the way. Schedule a consultation today and experience compassionate care at its best.</p>
				  </div>
			  </div>
		  </div>
  
		  <div class="row">
			  <div class="col-lg-3 col-md-6 col-sm-6">
				  <div class="team-block mb-5 mb-lg-0">
					  <img src="{% static 'web/images/team/b1.jpeg' %}" alt="" class="img-fluid w-100">
  
					  <div class="content">
						  <h4 class="mt-4 mb-0"><a href="doctor-single.html">Mayble Serwaa</a></h4>
						  <p>Surgeon, Сardiologist</p>
					  </div>
				  </div>
			  </div>
  
			  <div class="col-lg-3 col-md-6 col-sm-6">
				  <div class="team-block mb-5 mb-lg-0">
					  <img src="{% static 'web/images/team/b3.jpeg' %}" alt="" class="img-fluid w-100">
  
					  <div class="content">
						  <h4 class="mt-4 mb-0"><a href="doctor-single.html">Siamon john</a></h4>
						  <p>Internist, General Practitioner</p>
					  </div>
				  </div>
			  </div>

			  <div class="col-lg-3 col-md-6 col-sm-6">
				<div class="team-block mb-5 mb-lg-0">
					<img src="{% static 'web/images/team/b2.jpeg' %}" alt="" class="img-fluid w-100">

					<div class="content">
						<h4 class="mt-4 mb-0"><a href="doctor-single.html">Gewndolyn Naana</a></h4>
						<p>Internist, Emergency Physician</p>
					</div>
				</div>
			  </div>

			  <div class="col-lg-3 col-md-6 col-sm-6">
				  <div class="team-block">
					  <img src="{% static 'web/images/team/b4.jpeg' %}" alt="" class="img-fluid w-100">
  
					  <div class="content">
						  <h4 class="mt-4 mb-0"><a href="doctor-single.html">Rishat Ahmed</a></h4>
						  <p>Orthopedic Surgeon</p>
					  </div>
				  </div>
			  </div>
		  </div>
	  </div>
  </section>
  <section class="section awards">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-lg-4">
				<h2 class="title-color">Our Doctors achievements </h2>
				<div class="divider mt-4 mb-5 mb-lg-0"></div>
			</div>
			<div class="col-lg-8">
				<div class="row">
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="{% static 'web/images/about/3.png' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="{% static 'web/images/about/4.png' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="{% static 'web/images/about/1.png' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="{% static 'web/images/about/2.png' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="{% static 'web/images/about/5.png' %}" alt="" class="img-fluid">
						</div>
					</div>
					<div class="col-lg-4 col-md-6 col-sm-6">
						<div class="award-img">
							<img src="{% static 'web/images/about/6.png' %}" alt="" class="img-fluid">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
  </section>
  <section class="section testimonial">
	  <div class="container">
		  <div class="row">
			  <div class="col-lg-6 offset-lg-6">
				  <div class="section-title">
					  <h2 class="mb-4">What they say about us</h2>
					  <div class="divider  my-4"></div>
				  </div>
			  </div>
		  </div>
		  <div class="row align-items-center">
			  <div class="col-lg-6 testimonial-wrap offset-lg-6">
				  <div class="testimonial-block">
					  <div class="client-info ">
						  <h4>Amazing service!</h4>
						  <span>John Partho</span>
					  </div>
					  <p>
						  They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					  </p>
					  <i class="icofont-quote-right"></i>
					  
				  </div>
  
				  <div class="testimonial-block">
					  <div class="client-info">
						  <h4>Expert doctors!</h4>
						  <span>Mullar Sarth</span>
					  </div>
					  <p>
						  They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					  </p>
					  <i class="icofont-quote-right"></i>
				  </div>
  
				  <div class="testimonial-block">
					  <div class="client-info">
						  <h4>Good Support!</h4>
						  <span>Kolis Mullar</span>
					  </div>
					  <p>
						  They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					  </p>
					  <i class="icofont-quote-right"></i>
				  </div>
  
				  <div class="testimonial-block">
					  <div class="client-info">
						  <h4>Nice Environment!</h4>
						  <span>Partho Sarothi</span>
					  </div>
					  <p>
						  They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					  </p>
					  <i class="icofont-quote-right"></i>
				  </div>
  
				  <div class="testimonial-block">
					  <div class="client-info">
						  <h4>Modern Service!</h4>
						  <span>Kolis Mullar</span>
					  </div>
					  <p>
						  They provide great service facilty consectetur adipisicing elit. Itaque rem, praesentium, iure, ipsum magnam deleniti a vel eos adipisci suscipit fugit placeat. Quibusdam laboriosam eveniet nostrum nemo commodi numquam quod.
					  </p>
					  <i class="icofont-quote-right"></i>
				  </div>
			  </div>
		  </div>
	  </div>
  </section>
  <section class="section service gray-bg">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-7 text-center">
				<div class="section-title">
					<h2>Award winning patient care</h2>
					<div class="divider mx-auto my-4"></div>
					<p>At our facility, this dedication to exceptional patient care has not only been recognized but celebrated through prestigious accolades, affirming our unwavering commitment to our patients' well-being.</p>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-laboratory text-lg"></i>
						<h4 class="mt-3 mb-3">Laboratory services</h4>
					</div>

					<div class="content">
						<p class="mb-4">Our award-winning laboratory services are dedicated to providing accurate and timely diagnostic testing, ensuring precise results that healthcare providers and patients can trust for informed decision-making and effective treatment plans.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-heart-beat-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Heart Disease</h4>
					</div>
					<div class="content">
						<p class="mb-4">Our commitment to excellence in heart disease care has earned us recognition for our comprehensive approach to cardiovascular health, encompassing advanced diagnostics, personalized treatment strategies, and compassionate support for patients and their families.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-tooth text-lg"></i>
						<h4 class="mt-3 mb-3">Dental Care</h4>
					</div>
					<div class="content">
						<p class="mb-4">With a focus on patient-centered care and innovative treatment techniques, our award-winning dental services strive to enhance oral health and transform smiles, offering a range of treatments from routine cleanings to complex restorations with precision and expertise.</p>
					</div>
				</div>
			</div>


			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-crutch text-lg"></i>
						<h4 class="mt-3 mb-3">Body Surgery</h4>
					</div>

					<div class="content">
						<p class="mb-4">Our acclaimed body surgery services are tailored to meet the unique aesthetic and functional needs of each patient, delivering transformative results with a focus on safety, skill, and meticulous attention to detail.</p>
					</div>
				</div>
			</div>

			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-brain-alt text-lg"></i>
						<h4 class="mt-3 mb-3">Neurology Sargery</h4>
					</div>
					<div class="content">
						<p class="mb-4">Our neurology surgery program is recognized for its excellence in treating complex neurological conditions, offering advanced surgical interventions and comprehensive care to improve outcomes and enhance quality of life for patients with neurological disorders.</p>
					</div>
				</div>
			</div>
			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-4">
					<div class="icon d-flex align-items-center">
						<i class="icofont-dna-alt-1 text-lg"></i>
						<h4 class="mt-3 mb-3">Gynecology</h4>
					</div>
					<div class="content">
						<p class="mb-4">Our award-winning gynecology services provide comprehensive care for women of all ages, addressing a wide range of reproductive health needs with compassion, expertise, and a commitment to empowering patients to make informed decisions about their health and well-being.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
{% endblock content %}